.container {
 max-width: 50vw;
 margin: auto;
 margin-top: auto;
 margin-top: 21vh;
}

input {
 background-color: #eee;
 border: none;
 padding: 12px 15px;
 margin: 14px 0;
 width: 100%;
}

.register-form {
 background-color: #FFFFFF;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 50px;
 text-align: center;
 height: 63vh;
}