// .ReactModalPortal {
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: 1;
//  height: 100vh;
//  width: 100vw;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  background-image: radial-gradient(farthest-corner circle at 50% 50%,
//    rgba(56, 59, 64, 0.22) 12%,
//    rgba(156, 168, 158, 0.52) 77%);
// }
.submitView {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
 background-color: #f9f9f9;
 border-radius: 8px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 width: 30%;
 margin: auto;

 h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
 }

 .react-stars {
  margin-bottom: 20px;
 }

 input[type="text"] {
  width: 100%;
  height: 75px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;

  &::placeholder {
   position: absolute;
   top: 0px; // Adjust to align with padding
   left: 0px; // Adjust to align with padding
   font-size: 16px; // Match the font size of the textarea
   color: #999; // Adjust placeholder color as needed
  }

 }

 button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:first-of-type {
   background-color: #f44336;
   color: white;
  }

  &:last-of-type {
   background-color: #4caf50;
   color: white;
  }

  &:hover {
   opacity: 0.9;
  }
 }
}

.productDetail {

 width: 100vw;
 height: 100vh;
 padding: 6vmax;
 box-sizing: border-box;
 display: flex;

 div:has(> img) {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
 }

 [class=" css-ohwg9z"] {
  width: 100%;
  height: 100%;

  [class="css-1f8sh1y"] {
   height: 100% !important;

  }
 }

 &>div:nth-child(2) {
  align-items: flex-start;
  overflow: hidden;
 }

 &>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  border: 1px solid white;
 }

 .detailsBlock_a {
  h2 {
   color: brown;
   font: 600 32px "Roboto";
  }

  p {
   color: rgb(165, 42, 42, 0.6);
   font: 600 22px "Roboto";
  }
 }

 .detailsBlock_b {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  padding: 1vmax 0;

  span {
   font: 200 16px cursive;
   color: rgba(0, 0, 0, 0.699);
  }
 }

 .detailsBlock_c {
  width: 70%;

  h1 {
   color: rgba(17, 17, 17, 0.795);
   font: 400 1.8vmax "Franklin Gothic Medium";
   margin: 1vmax 0;
  }

  .detailsBlock_c1 {
   display: flex;
   align-items: center;

   div>button {
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;

    &:hover {
     background-color: rgba(0, 0, 0, 0.767);
    }
   }

   input {
    border: none;
    padding: 0.5vmax;
    width: 2vmax;
    text-align: center;
    outline: none;
    font: 400 0.8vmax "Roboto";
    color: rgba(0, 0, 0, 0.74);
   }

   &>button {
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 0.7vmax "Roboto";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;

    &:hover {
     background-color: rgb(214, 84, 61);
    }
   }
  }

  p {
   border-top: 1px solid rgba(0, 0, 0, 0.205);
   border-bottom: 1px solid rgba(0, 0, 0, 0.205);
   padding: 1vmax 0;
   color: rgba(0, 0, 0, 0.651);
   font: 400 1vmax "Roboto";
   margin: 1vmax 0;
  }
 }

 .detailsBlock_d {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax sans-serif;

  p {
   color: rgba(0, 0, 0, 0.534);
   font: 300 0.8vmax sans-serif;
  }
 }

 .submitReview {
  border: none;
  background-color: tomato;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;

  &:hover {
   background-color: rgb(197, 68, 45);
   transform: scale(1.1);
  }
 }
}

.reviewHeading {
 color: #000000be;
 font: 500 1.4vmax "Roboto";
 text-align: center;
 border-bottom: 1px solid rgba(0, 0, 0, 0.226);
 padding: 1vmax;
 width: 20vmax;
 margin: auto;
 margin-bottom: 4vmax;
}

.noReviews {
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 line-height: 5vmax;
}

.reviews {
 padding: 0 2vw;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 width: 90vmax;
 gap: 2vw;
 max-height: 50vmax;
 align-items: start;
 overflow: scroll;
 margin: auto;
 box-sizing: border-box;

 .review-card {
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.54);
  box-shadow: 1px 1px 6px 1px rgba(255, 0, 0, 0.16);
  width: 25vw;
  height: 28vh;
  padding: 0px 1vw;
  padding-top: 0px;
  padding-top: 0px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding-top: 2vh;
  background-color: rgba(251, 192, 192, 0.17);

  .upper {
   display: flex;
   height: 11vh;
   align-items: center;
   gap: 2vw;
   padding: 0 1vw;

   border-radius: 4px;

   img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
   }

   h2 {
    font: 600 3vh "Roboto";
   }
  }

  .comment {
   height: 10vh;
   overflow: hidden;
  }

  p {
   color: green($color: #000000);
   font: 300 2vh "Roboto";
  }

  background-color: rgba(205, 198, 198, 0.4);

  &:hover {
   background-color: rgba(200, 170, 170, 0.568);
  }
 }
}

// .ReactModalPortal {
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: 1;
//  height: 100vh;
//  width: 100vw;
//  justify-content: center;
//  display: flex;
//  align-items: center;
//  // background-image:
//  // radial-gradient(farthest-corner circle at 50% 50%,
//  //  #246dff 11% 11%, #fff9cb 51% 100%);
// }