@import "../../mixin.scss";
.header {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vmax auto;
  margin-left: 18vw;
  width: 80vw;
  a {
    border: 2px solid rgb(57, 61, 64, 0.6);
    display: flex;
    text-decoration: none;
    flex-direction: column;
    width: 18vmax;
    height: 25vmax;
    margin: 2vmax;
    color: rgb(57, 50, 36);
    transition: all 0.5s ease;
    padding-bottom: 0.5vmax;
    &:hover {
      box-shadow: 0 0 10px grey;

      transform: translate(0.5vmax, -0.5vmax);
    }
    img {
      width: 100%;
      height: 25vmax;
      object-fit: cover;
      object-position: center;
    }
    > p {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.5vmax;
      margin: 1vmax 0.5vmax;
      margin-bottom: 0;
      @include md {
        font-size: 2vmax;
      }
    }
    > div {
      display: flex;
      margin: 0.5vmax;
      justify-content: flex-start;
      > span {
        margin: 0.5vmax;
        font: 300 1vmax "Roboto";
      }
      @include md {
        margin: 0;
        display: block;
      }
    }
    > span {
      color: tomato;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      margin: 0.5vmax;
      padding: 0.5vmax;
      @include md {
        font-size: 1.5vmax;
      }
    }
  }
}
.filterbox {
  box-sizing: border-box;
  background-color: rgb(224, 224, 224, 0.5);
  padding: 2vmax;
  width: 20vw;
  position: absolute;
  top: 26vh;
  left: 3vw;
  p > svg {
    margin: auto 0.3vw;
  }
  .catogoriesList {
    list-style: none;
    font: 300 0.8rem Roboto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
    padding: 0;
    cursor: pointer;
    li {
      padding: 1vh;
    }
    .notselected {
      transition: all 0.4s ease;
      background: wheat;
      border-radius: 5px;
      &:hover {
        background: rgb(90, 175, 255);
        transition: all 0.4s ease;
      }
    }
    .selected {
      transition: all 0.4s ease;
      border-radius: 10px;
      color: white;
      background: rgb(38, 76, 112);
    }
  }

  p {
    margin: 1vh 0;
  }
}
.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;

    .page-item {
      background-color: rgb(255, 255, 255);
      list-style: none;
      border: 1px solid rgba(0, 0, 0, 0.178);
      padding: 1vmax 1.5vmax;
      transition: all 0.3s;
      cursor: pointer;
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 5px 0 0 5px;
      }

      .page-link {
        text-decoration: none;
        font: 300 2.5vh "Roboto";
        color: rgb(80, 80, 80);
        transition: all 0.3s;
      }
      &:hover {
        background-color: rgb(230, 230, 230);
        .page-link {
          color: rgb(0, 0, 0);
        }
      }
    }

    .pageItemActive {
      background-color: tomato;
      .pageLinkActive {
        color: white;
      }
    }
  }
}
