.form {
 background-color: #FFFFFF;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 28px 50px;
 height: 100%;
 text-align: center;
 margin: 39vh auto;

 .label {

  .input {
   outline: none;
   border: none;
   text-decoration: none;
   width: 100%;
  }

  button {
   margin-top: 7vh;
  }
 }
}